@model SBMSystemMVCApp.Models.ProductAddViewModel

@{
    ViewBag.Title = "Add Product";
    Layout = "~/Views/Shared/_MyTheme.cshtml";
}

<h2>Add</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Product</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Code, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CategoryId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.CategoryId, Model.Categories, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ReorderLevel, "Reorder Level", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ReorderLevel, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ReorderLevel, "", new { @class = "text-danger" })
        </div>
    </div>

    @*@<div class="form-group">
            @Html.LabelFor(model => model.ImageProduct, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ImageProduct, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ImageProduct, "", new { @class = "text-danger" })
            </div>
        </div>*@

    <div class="form-group">
        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
    <div>
        @if (ViewBag.SuccessMsg != null)
        {
            <h5 style="color:green; font-size:medium;">@ViewBag.SuccessMsg</h5>
        }

        @if (ViewBag.FailMsg != null)
        {
            <h5 style="color:red;font-size:medium;">@ViewBag.FailMsg</h5>
        }
    </div>
</div>
}
<div class="row">
    <div>
        @if (Model != null && Model.Products.Count() != 0)
        {
            <h3 style="text-align:center">Products</h3>
            int sl = 1;
            <div class="row">
                <div class="col-md-1">SL</div>
                <div class="col-md-1">Code</div>
                <div class="col-md-2">Name</div>
                <div class="col-md-2">Category</div>
                <div class="col-md-1">Reorder Level</div>
                <div class="col-md-2">Description</div>                
                <div class="col-md-2">Action</div>
            </div>
            foreach (var product in Model.Products)
            {
            <form class="row">
                <div class="col-md-1">@(sl++)</div>
                <div class="col-md-1">@product.Code</div>
                <div class="col-md-2">@product.Name</div>
                <div class="col-md-2">@product.Category.Name</div>
                <div class="col-md-1">@product.ReorderLevel</div>
                <div class="col-md-2">@product.Description</div>
                <div class="col-md-2">
                    <div class="col-md-2">@Html.ActionLink("Edit", "Update", "Product", new { id = product.Id }, null)</div>
                    <div class="col-md-2" id="Delete">@Html.ActionLink("Delete", "Delete", "Product", new { id = product.Id }, null)</div>
                </div>
            </form>
            }
        }

    </div>


</div>
