@model SBMSystemMVCApp.Models.Models.Customer
@{
    ViewBag.Title = "Add Customer";
    Layout = "~/Views/Shared/_MyTheme.cshtml";
}
    
<div class="container">
    <div class="row">
        <h1 style="font-family:'Times New Roman', Times, serif;
                       color:green;
                       width:100%;
                       background-color:cornflowerblue;
                       text-align:center">
            Customer Information
        </h1>
    </div>
    <div style="background-color:lightyellow">
        <div class="row" style="padding:35px;">
            <div class="col-2"></div>
            <div class="col-xl-8">
                <form method="post">

                    <div class="form-group row">
                        @Html.LabelFor(c => c.Code, htmlAttributes: new { @class = "control-label col-sm-1" })
                        <div class="col-sm-5">
                            @Html.TextBoxFor(c => c.Code, htmlAttributes: new { @class = "form-control", placeholder = "Name" })
                        </div>
                    </div>
                    <div class="form-group row">
                        @Html.LabelFor(c => c.Name, null, htmlAttributes: new { @class = "control-label col-sm-1" })
                        <div class="col-sm-5">
                            @Html.TextBoxFor(c => c.Name, null, htmlAttributes: new { @class = "form-control", placeholder = "Name" })
                        </div>
                    </div>
                    <div class="form-group row">
                        @Html.LabelFor(c => c.Address, null, htmlAttributes: new { @class = "control-label col-sm-1" })
                        <div class="col-sm-5">
                            @Html.TextBoxFor(c => c.Address, null, htmlAttributes: new { @class = "form-control", placeholder = "Address" })
                        </div>
                    </div>

                    <div class="form-group row">
                        @Html.LabelFor(c => c.Email, null, htmlAttributes: new { @class = "control-label col-sm-1" })
                        <div class="col-sm-5">
                            @Html.TextBoxFor(c => c.Email, null, htmlAttributes: new { @class = "form-control", placeholder = "Email" })
                        </div>
                    </div>
                    <div class="form-group row">
                        @Html.LabelFor(c => c.Contact, null, htmlAttributes: new { @class = "control-label col-sm-1" })
                        <div class="col-sm-5">
                            @Html.TextBoxFor(c => c.Contact, null, htmlAttributes: new { @class = "form-control", placeholder = "Contact" })
                        </div>
                    </div>
                    <div class="form-group row">
                        @Html.LabelFor(c => c.LoyaltyPoint, "Loyalty Point", htmlAttributes: new { @class = "control-label col-sm-1" })
                        <div class="col-sm-5">
                            @Html.TextBoxFor(c => c.LoyaltyPoint, null, htmlAttributes: new { @class = "form-control", placeholder = "Loyalty Point" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-1">Action</label>
                        <button type="submit" class="btn btn-success col-sm-offset-1" value="Save">Submit</button>
                    </div>
                </form>
            </div>
            
            <div>
                @if (ViewBag.SuccessMsg != null)
                {
                    <h5 style="color:green; font-size:medium;">@ViewBag.SuccessMsg</h5>
                }

                @if (ViewBag.FailMsg != null)
                {
                    <h5 style="color:red;font-size:medium;">@ViewBag.FailMsg</h5>
                }
            </div>
        </div>
        <div class="col-2"></div>
    </div>
</div>        
        

